{% extends 'base.html' %}
{% block title %}Questions to Answer {% endblock %}

{% block content %}
<div class="page-header">
        
      </div>
      <div class="row">
        <h1>Questions to Answer:</h1>
            <ul>
                    {% for ques in ls_q_all %}
                    <li>
                      {{ques}}
                    </li>
                    {% endfor %}
             </ul>

      <p>  Thanks for your answers - we shall email your scores</p>
      <br>
      <br>

          </div>
        </div><!-- /.col-lg-12 question.category -->
      </div>
{% endblock %}
